@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Playfair+Display&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color:rgb(255,240,222);
    padding: 0px  10vw;
}

.container {
    display: grid; grid-template-columns: 1fr 2fr;
}

.order-now-btn {
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px 0px;
    background-color: black;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}

.order-now-btn:hover {
    cursor: pointer;
    background-color: rgb(60, 133, 0);
}